button[class='connect-btn'] {
  width: 160px;
  height: 25px;
  margin: 0 10px 0;
  text-align: center;
}

.message {
  width: 400px;
  height: 30px;
  margin: 20px 10px 10px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.id-text {
  width: 80px;
  height: 22px;
  text-align: center;
}

.id-select {
  width: 80px;
  height: 22px;
  margin: 0 10px 0;
  text-align: center;
}

.connect-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  text-align: center;
}
